//Variables
:root {
  --icon-theme: url("./assets/icon-moon.svg");
  --image-background-desktop: url("./assets/bg-desktop-light.jpg");
  --image-background-mobile: url("./assets/bg-mobile-light.jpg");
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(
    45deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --color-bg-primary: hsl(0, 0%, 98%);
  --color-bg-secondary: hsl(236, 33%, 92%);
  --color-bg-todo-hover: hsl(233, 11%, 84%);
  --color-font-primary: hsl(235, 19%, 35%);
  --color-font-secondary: hsl(236, 9%, 61%);
}
.app--isDark {
  --icon-theme: url("./assets/icon-sun.svg");
  --image-background-desktop: url("./assets/bg-desktop-dark.jpg");
  --image-background-mobile: url("./assets/bg-mobile-dark.jpg");
  --color-bg-primary: hsl(235, 21%, 11%);
  --color-bg-secondary: hsl(235, 24%, 19%);
  --color-font-primary: hsl(234, 39%, 85%);
  --color-font-primary-no: hsl(234, 11%, 52%);
  --color-font-secondary: hsl(233, 14%, 35%);
  --color-bg-todo-hover: hsl(237, 14%, 26%);
}

// CSS Reset
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
button {
  font-weight: inherit;
  color: inherit;
}
ul {
  list-style: none;
}
button,
input {
  background-color: transparent;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}

// App Styles
.app {
  background-color: var(--color-bg-primary);
  position: relative;
  padding: 0 0 7rem 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    background-image: var(--image-background-desktop);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35%;
    @media (max-width: 767px) {
      background: var(--image-background-mobile);
    }
  }
}
.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.5rem;
  width: 60%;
  z-index: 2;
  &__header {
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: hsl(0, 0%, 98%);
      letter-spacing: 1rem;
      font-size: 6.4rem;
    }
    button {
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        position: absolute;
        right: 0;
        content: "";
        background-image: var(--icon-theme);
        background-size: cover;
        height: 3rem;
        width: 3rem;
      }
    }
  }
  &__form {
    margin-bottom: 2rem;
    background-color: var(--color-bg-secondary);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    &--btn {
      position: absolute;
      content: "";
      border-radius: 50%;
      border: 1px solid var(--color-font-primary);
      height: 2.5rem;
      width: 2.5rem;
      top: 1.4rem;
      left: 1.4rem;
      background: transparent;
      transition: background 0.3s ease, border-color 0.3s ease;
      &:hover {
        border-color: transparent;
        background: var(--check-background);
      }
    }
    &--input {
      margin-left: 4rem;
      font-size: 2rem;
      font-weight: semi-bold;
      padding: 1.4rem;
      width: 100%;
      font-size: 2rem;
      color: var(--color-font-primary);
      &::placeholder {
        color: var(--color-font-secondary);
      }
    }
  }

  &__tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    &--task {
      text-transform: capitalize;
      padding: 0.8rem 2.2rem;
      width: 100%;
      background-color: var(--color-bg-secondary);
      color: var(--color-font-primary);
      border-bottom: 0.5px solid var(--color-font-secondary);
      &:hover {
        background-color: var(--color-bg-todo-hover);
      }
    }
    &--empty {
      color: var(--bright-blue);
      background-color: var(--color-bg-secondary);
      padding: 2.4rem;
      margin: auto;
      text-transform: uppercase;
      font-size: 3rem;
      border-radius: 1rem;
      font-weight: bold;
    }
  }
}
.todo__footer {
  padding: 0.8rem 2.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-secondary);
  color: var(--color-font-primary);
  &--count {
    font-weight: bolder;
    margin-right: 0.6rem;
    color: var(--bright-blue);
  }
  button {
    transition: color 0.3s ease;
    font-weight: bold;
    &:hover {
      color: var(--bright-blue);
    }
  }
  &--buttons {
    display: flex;
    align-items: center;
    li {
      transition: color 0.3s ease;
    }
    li .active,
    li:hover {
      color: var(--bright-blue);
    }
  }
}
.check-btn {
  content: "";
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
